.cts{
	font-size:20pt;
}

.content{
	background-color:#e6c3d9e6;
}

#footer{
	background-color:red;
}

.fa-facebook-square{
	color:white;
}
.fa-instagram {
	color:white;
}
.fa-twitter{
	color:white;
}

.fa-google{
	color:white;
}
h4{
	color:white;
	padding-left:300px;
}